@page "/todo"
@using Microsoft.AspNetCore.Identity
@using TodoApp.Factories
@using TodoApp.Services
@using TodoApp.Data
@using Microsoft.AspNetCore.Authorization
@using TodoApp.Enums
@using TodoApp.Utilities
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Todo List</PageTitle>

<AuthorizeView>
    <main class="container">
        <h1>Hello @context.User.Identity?.Name! You have @Todos.Count(t => !t.IsDone) todos left.</h1>
        <div class="operation-btns-group">
            <MudButtonGroup Variant="Variant.Outlined">
                <MudButton Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.Refresh" Onclick="RefreshTodoList">Refresh</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="AddTodo" >New Task</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.Save" OnClick="SaveItems">Save Tasks</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ToggleCalendar">Toggle Calendar</MudButton>
            </MudButtonGroup>

            <div class="sort-and-filter-group">
                <MudCheckBox Color="Color.Primary" @bind-Value="HideDone" Class="item-checkbox">
                    Hide Checked Task
                </MudCheckBox>

                <MudSelect @bind-Value="SortingMethod" Label="Sorting Method: " Variant="Variant.Outlined" FullWidth="false">
                    @foreach (SortingMethod method in Enum.GetValues(typeof(SortingMethod)))
                    {
                        <MudSelectItem Value="@method">@method.GetDescription()</MudSelectItem>
                    }
                </MudSelect>

                <MudSelect @bind-Value="ShowCategory" Label="Display Category: " Variant="Variant.Outlined" FullWidth="false">
                    <MudSelectItem Value="string.Empty">Display All</MudSelectItem>
                    @foreach (Category category in Enum.GetValues(typeof(Category)))
                    {
                        <MudSelectItem Value="@category.ToString()">@category.GetDescription()</MudSelectItem>
                    }
                </MudSelect>
            </div>

            
            
        </div>

        @{
            if (IsCalendar)
            {
                <TodoList Todos="Todos" 
                    OnEdit="EditTodo"
                    OnDelete="DeleteTodo"></TodoList>
            }
            else
            {
                <TodoCalendar Todos="Todos"></TodoCalendar>
            }
        }


    </main>
</AuthorizeView>


@code {
    
}