@using TodoApp.Models

<div class="calendar">
    <header>
        <MudButton StartIcon="@Icons.Material.Filled.ChevronLeft" OnClick="PrevMonth"></MudButton>
        <div class="year-picker">
            <h1>@Year.ToString() - @Month.ToString()</h1>
        </div>
        <MudButton StartIcon="@Icons.Material.Filled.ChevronRight" OnClick="NextMonth"></MudButton>
    </header>

    <div class="days">
        @{
            foreach (var weekday in Enum.GetValues(typeof(DayOfWeek)))
            {
                <div class="weekday">
                    <MudText>@weekday.ToString()</MudText>
                </div>
            }

            var today = DateTime.Today.Date;
            var lastDayOfPrevMonth = new DateTime(Year, Month, 1) - TimeSpan.FromDays(1);
            var lastDayOfPrevMonthWeekday = lastDayOfPrevMonth.DayOfWeek;
            var currMonthLength = DateTime.DaysInMonth(Year, Month);
            var lastDayOfCurrMonth = new DateTime(Year, Month, currMonthLength);
            var lastDayOfCurrMonthWeekday = lastDayOfCurrMonth.DayOfWeek;

            if (lastDayOfPrevMonthWeekday != DayOfWeek.Saturday)
            {
                for (int i = 0; i < (int)lastDayOfPrevMonth.DayOfWeek + 1; i++)
                {
                    <div class="empty day"></div>
                }
            }

            for (int i = 0; i < currMonthLength; i++)
            {
                <div class="day">
                    <span>@(i+1)</span>
                    <div class="tasks-contaienr">
                        <ul>
                            @foreach (var todo in Todos.Where(t => t.Deadline.Year == Year && t.Deadline.Month == Month && t.Deadline.Day == i+1))
                            {
                                <li class="in-task">
                                    <MudCheckBox Color="Color.Primary" @bind-Value="@todo.IsDone" Class="item-checkbox" Dense="true"></MudCheckBox>
                                    <MudMenu Class="task-menu" Label="@todo.Title" StartIcon="">
                                        <p>@todo.Title</p>
                                        <p>Priority: @todo.Priority</p>
                                        <p>Category: @todo.Category</p>
                                        <p>Deadline: @todo.Deadline.Date</p>
                                        <MudButton Variant="Variant.Filled" DropShadow="false" Color="Color.Primary" OnClick="@(() => OnEdit.InvokeAsync(todo))">Edit</MudButton>
                                        <MudButton Variant="Variant.Filled" DropShadow="false" Color="Color.Warning" OnClick="@(() => OnDelete.InvokeAsync(todo))">Delete</MudButton>
                                    </MudMenu>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

            if (lastDayOfCurrMonthWeekday != DayOfWeek.Saturday)
            {
                for (int i = 0; i < 6 - (int)lastDayOfCurrMonthWeekday; i++)
                {
                    <div class="empty day"></div>
                }
            }
        }
    </div>
    <div class="task-details">

    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<ITodoItemState> Todos { get; set; }
    [Parameter]
    public EventCallback<ITodoItemState> OnEdit { get; set; }
    [Parameter]
    public EventCallback<ITodoItemState> OnDelete { get; set; }

    public int Year { get; set; } = DateTime.Today.Year;
    public int Month { get; set; } = DateTime.Today.Month;

    public ITodoItemState SelectedTask { get; set; }


    private void PrevMonth(MouseEventArgs args)
    {
        if (Month <= 1)
        {
            Month = 12;
            Year--;
            return;
        }

        Month--;

    }
    private void NextMonth(MouseEventArgs args)
    {
        if (Month >= 12)
        {
            Month = 1;
            Year++;
            return;
        }

        Month++;
    }
}
